{% extends 'SProvider/design1.html' %}
{% block researchblock %}

<link rel="icon" href="images/icon.png" type="image/x-icon" />

<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">

<style>
    body {
        background-color: #ffffff;
        font-family: 'times new roman', sans-serif;
    }

    .container-fluid {
        padding: 30px 50px;
        background-color: #ffffff;
        border-radius: 10px;
		margin-top: 30px;
    }

    .container {
        background-color: #fffdfd;
        border-radius: 8px;
        padding: 40px;
		
        
    }

    #title {
        font-family: 'times new roman', cursive;
        color: #ffcc00;
        text-align: center;
        font-size: 36px;
        margin-bottom: 30px;
    }

    .text-uppercase {
        font-family: 'times new roman', cursive;
        color: #000000;
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        color: #fff;
    }

    th {
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        padding: 12px;
        font-size: 16px;
    }

    td {
        background-color: #81a7ba9b;
        color: #fff;
        padding: 12px;
        font-size: 14px;
    }

    tr:hover {
        background-color: #504d4d;
    }

    .viewclients {
        margin-top: 20px;
        overflow-x: auto;
    }

    input {
        font-family: 'times new roman', sans-serif;
        font-size: 15px;
    }

    .style1 {
        color: #010101;
    }

    @media (max-width: 768px) {
        .container-fluid {
            padding: 20px;
        }

        .container {
            padding: 30px;
        }

        #title {
            font-size: 28px;
        }

        .text-uppercase {
            font-size: 20px;
        }

        th, td {
            font-size: 12px;
            padding: 8px;
        }
    }
</style>

<body>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form role="form" method="POST">
                        {% csrf_token %}
                        <fieldset>
                            <p class="text-uppercase">VIEW ALL REMOTE USERS !!!</p>
                            <div class="viewclients">
                                <table>
                                    <tr>
                                        <th>USER NAME</th>
                                        <th>EMAIL</th>
                                        <th>Mob No</th>
                                        <th>Country</th>
                                        <th>State</th>
                                        <th>City</th>
                                    </tr>
                                    {% for o in objects %}
                                    <tr>
                                        <td>{{ o.username }}</td>
                                        <td>{{ o.email }}</td>
                                        <td>{{ o.phoneno }}</td>
                                        <td>{{ o.country }}</td>
                                        <td>{{ o.state }}</td>
                                        <td>{{ o.city }}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}
